@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@500&display=swap');

body{
    background-color: rgba(247,247,247,255);
}

#first_section{
    background-color: rgba(217,217,217,255);
}

#div_button{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
}

#ask_a_question_button{
    color: white;
    background-color: #6074DD;
    /* padding-left: 5%; */
    padding: 0.8%;
    border-radius: 500px;
    border: none;
    margin-left: 80%;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

#second_section{
    margin-top: 2.5%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#near_protocol_div{
    width: 80%;
    background-color: rgba(150,150,150,255);
    border-radius: 20px;
}

#near_protocol_image{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 40%;
}

#third_section{
    margin-top: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#third_section_adjust{
    width: 80%;
    display: flex;
}

#third_section_questions_list{
    width: 70%;
}

#third_section_right_module{
    width: 30%;
}


.upvotes_collected_img{
    width: 12px;
    height: 12px;
  }  

@media screen and (max-width: 1000px) {
    #third_section_adjust{
        display: block;
    }
    #third_section_questions_list{
        width: 100%;
    }
    #third_section_right_module{
        width: 100%;
    }
 }

 @media screen and (max-width: 550px) {
    #ask_a_question_button{
        font-size: 30%;
    }
 }

.color_right_panel_experts{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    color: #6074DD;
}

.poppin_font{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #51646D;
}

.right_panel_heading{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #34324C;
}